body{
	color: $text-base;
	font-family: $font-primary;
	font-weight: 300;
	max-width: 100%;
	overflow-X: hidden;
    overflow-Y: auto;
    &.active-body{
    	overflow: hidden;
    }
}

// animation to open mobile menu
.active-body{
	@include transform(translate3d(-205px,0,0) !important);
}

header{
    width:100%;
    background: #fbfbfb;
    position: fixed;
    box-shadow:0px 0px 3px 0px rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    z-index: 2;

    @include transition(height 0.3s, all 0.5s ease-in-out);

    .container{
        display: table;
        @include mobileview{
            text-align: center;
        }
    }
    &+.filler{
    	height: 77px;
    	@include mobileview{
    		height: 54px;
    	}
    }

    h2{
        display:inline-block;
        float:left;
        padding: 26px 30px;
        @include mobileview{
        	padding: 15px 0;
        }
    }
    nav{
        display:inline-block;
        float:right;
        padding: 30px ;
        a{
            margin: 0 20px;
            display:inline;
            position: relative;
            font-family: "Playfair Display",serif;

            @include desktopview{
	            &:after{
	            	position: absolute;
	            	left: 0;
	            	bottom:-2px;
	            	content:'';
	            	width:0;
	            	height:2px;
	            	background: $bright-blue;
	            	@include transition(0.3s ease); 
	            }

	            &:hover:after{
	            	width:100%;
	            }
            }

            @include mobileview{
            	margin: 10px 0;
			    display: table;
			    float: right;
		        width: auto;
    			clear: both;
            }
        }

        @include mobileview{
    	    position: absolute;
		    height: 100vh;
		    background: #fbfbfb;
		    right: -205px;
		    width: 145px;
		    padding-top: 20px;
		    @include box-shadow(0px 0 2px 0 rgba(0,0,0,0.2));
		    @include transition(0.5s ease-in-out);
        }
    }

    &.active-body{
    	nav{
    		right:0;
    	}
    }

    #menu {
    	display: none;
        @include mobileview {
        	display: block;
            position: absolute;
            top: 0;
            right:0;
            width: 65px;
            height: 54px;
            @include rotate(0);
            @include transition(.5s ease-in-out);

            // container das linhas para poder posicionar corretamente
            >div{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 25px;
                height: 18px;
            }

            // configuração de todas as linhas
            span{
                display: block;
                position: absolute;
                height: 2px;
                width: 100%;
                background: $dark-blue;
                left: 0;
                @include rotate(0);
                @include transition(.25s ease-in-out);
            }

            span:nth-child(1) {
              top: 0px;
            }

            span:nth-child(2), span:nth-child(3) {
              top: 8px;
            }

            span:nth-child(4) {
              top: 16px;
            }

            &.active-body span:nth-child(1) {
              top: 8px;
              width: 0%;
              left: 50%;
            }

            &.active-body span:nth-child(2) {
                @include rotate(45);
            }

            &.active-body span:nth-child(3) {
              @include rotate(-45);
            }

            &.active-body span:nth-child(4) {
              top: 8px;
              width: 0%;
              left: 50%;
            }
        }

    }

}

#intro{
	width: 100%;
	position: relative;
	padding: 0;
	height: calc(100vh - 54px);

	@include mobileview{
		max-width: 90%;
		@include push-auto();
	}

	.middle-block{
		max-width: 800px;
		top: 45%;
		@include translate(0, -45%);
	}

	.texto{
		@include verticallyaligned();
		h1{
			margin-bottom: 20px;
			b{position: relative;}
			b:after{
	        	position: absolute;
	        	left: 0;
	        	bottom:-2px;
	        	content:'';
	        	width:0;
	        	height:2px;
	        	background: $bright-blue;
	        	@include transition(0.7s ease); 
	        }
			.underline:after{
		        width:100%;
			}
		}
		span{
			line-height: 1.5;
			display: block;
			@include smallmobileview{
				font-size: 14px;
			}
		}
		@include desktopview{
			width:calc(100% - 350px);
		}
	}

	img{
		@include verticallyaligned();
        width:300px;
        height:300px;
        margin-right: 50px;
        object-fit: cover;
        border-radius:50%;
        &.loaded{
        	@include materialshadow();
        }
        @include mobileview{
        	width:200px;
    		height: 200px;
    		margin-bottom: 20px;
        }
    }

    img,.texto{
    	@include mobileview{
    		display: table;
    		@include push-auto();
    		text-align: center;
    	}
    }

    .started{
    	animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        color:$bright-blue;
        position: absolute;
        bottom:8%;
        left:47%;
        @include translate(-50%,5%);
        background: white;
        border-radius: 5px;
        padding: 10px 5px;
        box-sizing: border-box;
        @include transition(0.3s ease);

        &:before{
        	content:'';
        	position: absolute;
        	height: 1px;
        	width: 100%;
        	bottom:1px;
        	left:0;
        	background: $bright-blue;
        }
        
        &:after{
        	width:10px;
        	height:10px;
            content:'';
            position: absolute;
            bottom:-8px;
            left:50%;
            background: white;
            @include transform(rotate(45deg) translateX(-50%));
            // @include box-shadow(2px 2px 2px 0 rgba(0,0,0,0.2));
            border-bottom: 1px solid $bright-blue;
            border-right: 1px solid $bright-blue;
        }
        
        @include mobileview{
        	left: 31%;
        }
        @include smallmobileview{
			font-size: 14px;
			bottom:4%;
		}
    }

}

#background{
	// background: transparentize($bright-blue, 0.7);
	@include desktopview{
		height: calc(100vh - 175px);
	}
	.content-blocks{
        position: relative;
        
        li{
            margin: 0 40px;
            position: relative;
            @include mobileview{
            	margin: 0 0 80px 0;
            }
            img{
                width:200px;
                height:200px; 
                object-fit: cover;
                @include mobileview{
                    width:200px;
                    height: 200px;
                }
            }
            span{
                display:block;
                position:relative;
                clear:both;
                padding:10px 0 5px;
            }
        }
        .hidden-info{
            font-family: "Lato", serif;
            font-style: italic;
    		font-weight: 300;
            text-shadow: 1px 0 5px rgb(209, 237, 255);
            font-size: 13px;
            position: absolute;
            width: 60%;
            left:50%;
            @include translate(-50%,-50%);
            @include border-radius(50%);
            @include transition(all 1s ease);
            
            &:after{
                content:'';
                display: block;
                position: absolute;
                height: 120px;
                width: 200px;
                background: transparent;
                border-radius: 50%;
                box-shadow: 0 125px 40px 0 transparentize($dull-blue, 0.85);
                @include transition(0.5s ease);
                @include translate(-50%,-50%);
                top:calc(50% - 160px);
                left:50%;
            }

            &.active{
            	@include translate(-50%,10%);
	            &:after{
	            	box-shadow: 0 135px 40px 0 transparentize($dull-blue, 0.85);
	            }
            }
        }
    }

    #progress-bar{
		display:table;
		margin: 130px auto 0;
		@include mobileview{
			margin-top:30px;
			// display:none;
		}
		ul{
			margin: 0; 
			padding: 0;
			display:table;
			width: 100%;

			li{
				list-style: none;
				display: inline-block;
				color: $gray-blue;
				font-size: 14px;
				float: left;
				position:relative;
				width:25%;
				@include mobileview{
					display: table;
				    margin: 0 auto;
				    clear: both;
				    width: 100%;
				    float:none;
				}



				span{
					height: 40px;
					display: table;
					width: 100%;
					padding-left: 20px;
					@include desktopview{
						padding-left: 0;
						text-align: center;
						white-space: nowrap
					}
					// dot
					&:after,&:before{
						display: table;
						position:relative;
						margin: 10px auto 0;
						content:'';
						@include border-radius(50%);
						@include box-shadow(0px 0px 0px 2px $dull-blue, 0 2px 5px rgba(0,0,0,0.7));
						background-color:  #fff;
						width: 12px;
						height: 12px;
						z-index: 1;

						@include mobileview{
							margin: 0;
						    left: -3px;
						    top: 0;
						    position: absolute;
						}
					}
					&:before{display: none}
				}

			    &:after{
				    content:'';
				    background-color:  $gray-blue;
				    width: 100%;
				    height: 5px;
				    display:inline-block;
				    position: relative;
				    bottom: 18px;
				    z-index: -1;

				    @include mobileview{
				    	width: 5px;
				    	height: 40px;
				    	position: absolute;
				    	top: 0;
				    }
			  	}

			  	// loading effect
			  	&:before{
				    content:'';
				    background-color:  $bright-blue;
				    width: 0%;
				    height: 5px;
				    left:0;
				    display:inline-block;
				    position: absolute;
				    top: 29px;
				    z-index: 0;
				    @include transition(1s linear);

				    @include mobileview{
				    	width: 5px;
				    	height: 0;
    					top:0;
				    }
			  	}

			  	// when running
			  	&.active:before{
			  		width:100%;
			  		@include mobileview{
			  			width:5px !important;
				    	height: 100% !important;
				    }
			  	}

			  	@include mobileview{
			  		&:last-child:after,
					&:last-child.active:before{
						display: none;
					}
			  	}


			  	@include desktopview{
			  		// making odd labels appear bottomline
				  	&:nth-child(2n+1){
				  		padding-top: 15px;
				  		span{
				  			padding-top: 10px;
				  		}
				  		span:before{
				  			top: -10px;
				  			display: table;
				  		}
				  		span:after{display:none}
				  		&:after{
				  			top:-43px;
				  		}
				  	}

				  	&:first-child:after,
					&:first-child:before{
				  		left: 50%;
				  	}

					&:first-child:after,
				  	&:first-child.active:before{
						width: 50%;
					}
					&:last-child:after,
					&:last-child.active:before{
						width: 50%;
					}
			  		
			  	}

			}
		
		}

	}

	.redirect{
		float: right;
	    margin: 20px 20px 0 0;
	    font-family: "Lato", serif;
        font-style: italic;
		font-weight: 300;
	    font-size: 12px;
	    // color: #fff;
	    color: $dark-blue;
	    // text-shadow: 1px 1px 3px rgba(11, 127, 190, 0.65);
	    text-shadow: 1px 1px 3px rgba(11, 127, 190, 0.4);
	    @include transition(0.3s ease);
	    b{
	    	display: inline-block;
	    	margin-left: 10px;
	    	animation-name: swinging;
	        animation-duration: 2s;
	        animation-iteration-count: infinite;
	        animation-timing-function: ease-in-out;
	    }
	    &:hover{
	    	@include transform(translateX(-10px));
	    }
	    &:active{
	    	@include transform(translateX(5px));
	    }
	}

}

#work{
	@include desktopview{
		height: calc(100vh - 175px);
	}

	img{
		max-width: 100%;
	}

	.content-blocks{

		li{
			width: 300px;
			max-width:100%;
			position: relative;
			overflow: hidden;
			margin: 30px;
			@include mobileview{
				width: 250px;
				margin: 20px;
			}

			a{
			    width: 100%;
			    height: 100%;
			    display: table;
			    position: relative;
				&:after{
					content:'learn more';
					width:auto;
					background: #f0f0f0;
					position: absolute;
					font-size: 11px;
				    top: -100%;
    				right: 5px;
					text-align: left;
					padding: 5px;
					@include materialshadow();
					@include transition(0.3s ease-in-out);
					@include mobileview{
						top: 5px;
					}
				}

				.infobox{
					position: absolute;
					background: transparent;
					bottom: 0;
					padding: 5px;
					text-align: left;

					h4,span{
						left:5px;
						display: inline-block;
						@include transition(0.3s ease-in-out);
						background: #f0f0f0;
						padding: 5px;
						@include materialshadow();
					}

					h4{
						font-family: Lato;
						@include mobileview{
							@include translate(0px,-27px);
						}
					}

					span{
						font-size: 12px;
						position: absolute;
						white-space: nowrap;
						opacity: 0;
						@include translate(0px,300%);
						@include mobileview{
							opacity: 1;
							@include translate(0px,-22px);
						}
					}

				}

			}


			&:hover{
				@include transform(scale(1.2));
				a:after{
					top: 5px;
				}

				.infobox{
					span{
						opacity: 1;
						@include translate(0px,-22px);
					}
					h4{
						@include translate(0px,-27px);
					}
				}

			}
			

		}


	}
}

#skills{
	h2{
		margin-bottom: 30px;
	}
	background: transparentize($bright-blue, 0.9);
    small{
        font-size:8px;
		font-weight: 400;
        font-style: italic;
        font-family: "Lato", serif;
        position: absolute;
        top:2px;
        left: 2px;
        @include rotate(-10);
    }
    @include desktopview{
        .content-blocks{
            max-width: 80%;
        }
    }
    li{
        margin: 10px;
        div{
        	background-color: #fbfbfb;
        	// background: $dull-blue;
        	// color: #fff;
        }
        &:hover{
            // bottom: 7px;
            @include transform(translateY(-7px));
            @include transition(0.3s ease);
            position: relative;
        }
    }
}

#contact{
    display: table;
    max-width: 800px;
    @include desktopview{
    	width: 100%;
    	margin: 50px auto;
    	
    }
    // background-color: transparentize($bright-blue,0.5);
    // box-shadow: 0 2px 5px 0 #8198a7;
    >.mobile-box{
        width:50%;
        display:inline-block;
        vertical-align: middle;
        float:none;
    }
    // .map{
    //     max-height:459px;
    //     iframe{
    //         width: 100%;
    //         pointer-events: none;
    //         border:0;
    //         margin:0;
    //     }
    //     @include mobileview{
    //         height: 200px;
    //     }
    // }
    .content-wrapper{
    	@include mobileview{
    		margin-bottom: 20px;
    	}
        h3{
            margin: 0 0 20px;
            text-shadow: 1px 1px 5px #d1edff;
        }
        p{
        	line-height: 2;
        	text-shadow: 1px 1px 5px #d1edff;
        }
    }
    .form-wrapper{
    	background-color: transparentize($bright-blue,0.5);
    	@include materialshadow();
        .form{
            padding:30px;
            // @include desktopview{
            //     padding-right: 20%;
            // }

            .shadow{
            	position: relative;
            	&:after,&:before{
                	content:'';
                	width:100px;
                	height: 30px;
                	background: transparent;
                	position: absolute;
                	bottom:40px;
                	box-shadow: 0px 43px 10px rgba(0,0,0,0.2);
                }
                &:after{
                	right:0;
                	@include rotate(5);
                }
                &:before{
                	left: 0;
                	@include rotate(-5);
                }
            }

            form{
                background-color: #fbfbfb;
                padding:10px;
                z-index: 1;
                position: relative;
                @include materialshadow();
            }
            input,textarea{
                border:none;
                width:100%;
                background: transparent;
                @include transition(300ms cubic-bezier(.4, 0, .2, 1));
                color: $text-base;
                font-size: 16px;
                font-family: $font-primary;
                position: relative;
            }
            input{
                height: 40px;
            }
            textarea{
                height: 120px;
                resize: none;
            }
            label{
                color: rgba(142,131,139,0.38);
                position: absolute;
                top: 12px;
                left: 0;
                z-index: -1;
                cursor: pointer;
                @include transition(300ms cubic-bezier(.4, 0, .2, 1));

                &.active{
                    top:-5px;
                    font-size: 10px;
                    color: #fbfbfb;
                }
            }
            .input-box{
                margin-bottom: 10px;
                position: relative;
            }
            button{
                width: 100%;
                padding: 10px;
                color: #f0f0f0;
                background: $bright-blue;
                text-shadow: 1px 1px 0 $blue;
                @include border-radius(2px);
                @include box-shadow(0 1px 2px rgba(0,0,0,0.2));
                @include transition(0.3s ease);
                &:after{
                    margin-left: 10px;
                    display: inline-block;
                    content: '\f1d8';
                    font-family: "fontello";
                    @include transition(0.1s ease);
                }
                &:hover{
                    background: lighten($bright-blue,10%);
                }
                &:active:after,&:focus:after{
                    @include rotate (20);

                }
            }
            .currently{
                margin: 20px 0 10px;
            }
        }
    }
}

footer{
    padding:20px 0;
    text-align: center;
    background: #f0f0f0;
}
.floating-icons{
    z-index: 10;
    display: table;
    margin-top: 20px;
    text-align: center;
    @include push-auto();
    @include desktopview{
        top:50%;
        right:20px;
        position: fixed;
        @include translate(20px,-50%);
        width:70px;
        margin:0;
    }
    .floating{
        width:50px;
        height:50px;
        display: inline-block;
        color: #f0f0f0;
        line-height: 50px;
        font-size: 22px;
        background: $bright-blue;
        margin:10px;
        position: relative;
        @include border-radius(50%);
        @include transition(0.3s ease);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

        &:before{
            content:'';
            width:50px;
            height:50px;
            display: inline-block;
            position: absolute;
            background: $bright-blue;
            left: 0;
            top: 0;
            @include border-radius(50%);
            z-index: 1;
        }

        span{
            color: $text-base;
            opacity: 0;
            text-align: right;
            font-family: "Lato", serif;
            font-style: italic;
            position: absolute;
            @include transition(0.3s ease-in-out);
            white-space: nowrap;
            font-size: 12px;
            z-index: 0;
            right:-100%;
        }
        i{
            text-shadow: 1px 1px 0 #2d7f86;
            position: relative;
            z-index: 2;
        }

        &:hover{
            @include box-shadow(0 7px 12px 0px rgba(0,0,0,0.2));
            @include desktopview{
                span{
                    opacity: 1;
                    right:60px;
                    // @include translate(-160px,0);
                }
            }
        }
    }
}

/*****************/ 
/* reusable code */
/*****************/ 

.content-blocks{
    text-align:center;
    @include push-auto();
    li{
        display:inline-block;
        vertical-align:middle;
        @include box-shadow(0 2px 5px 0 rgba(0,0,0,0.2));
        @include transition(0.3s ease);
        div{
            background-color: #f0f0f0;
            padding:10px;
            z-index: 1;
            position: relative;
        }
        &:hover{
            @include box-shadow(0 7px 12px 0px rgba(0,0,0,0.2));
        }
    }
}

section{
	position: relative;
	padding: 50px 0;
	h2{
		text-align: center;
	    margin: 0 auto 10px;
	    width: 100%;
	    float: left;
	    position: relative;
	    @include mobileview{
	    	margin-bottom: 50px;
	    }
	    &:after{
	    	content:'';
	    	width:30px;
	    	height: 2px;
	    	position: absolute;
	    	left:50%;
	    	bottom:-15px;
	    	@include translate(-50%, 0);
	    	background: $dark-blue;
	    }
	}
	.middle-block{
		display: table;
		position: relative;
		@include push-auto();
		@include desktopview{
			top: 50%;
			@include translate(0, -50%);
		}
	}
} 

// transition for mobile menu
section, footer{
	@include transition(all 0.5s ease-in-out);
}

.fakelazyload{
	opacity: 0;
    @include transition(1s ease);

    &.loaded{
    	opacity: 1;
    }
}
.fadeDown{
	@include transform(translateY(-100%));
}
.fadeUp{
	@include transform(translateY(50%));
}
.fadeUp,.fadeDown{
	&.loaded{
		@include transition(0.6s ease-in-out);
		@include transform(translateY(0) !important) ;
	}
}
// animação 
@keyframes floating {
    from { @include translate(0,  0px); }
    65%  { @include translate(0, 10px); }
    to   { @include translate(0, -0px); }    
}
// animação 
@keyframes swinging {
    from { @include translate(0, 0px); }
    65%  { @include translate(5px, 0px); }
    to   { @include translate(0, -0px); }    
}